*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
    /*
    body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url('images/image.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}*/

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    padding: 10px;

}
.navbar h1{
    color: orangered;
    margin-right: 20px;
    margin-left: 0;
    padding-left: 0;
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    }
.navbar a{
    text-decoration: none;
    color: #fff;
}
.section {
  height: 100vh; /* full screen height */
  padding: 40px;
}
#home { background: #d3d3d3; }
#about { background: #ffffff; }
#contact { background: #fcfcfc; }

section a{
    text-decoration: none;
    color: #fff;
}
#contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    padding-top: 100px;
    align-items: center;

}
#contact a{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: #fcfcfc;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    display: flex;          
    flex-direction: column; 
    align-items: center;  
    text-align: center;     
    gap: 10px;              
    text-decoration: none;  
    color: #000;
}
img{
    padding-bottom: 10px;
    width: 100px;
    height: auto;
}
#contact a:hover{
    box-shadow: 2px 2px 15px #242322;
    transform: translateY(-5px);
    transition: all 0.3s ease;  
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#home::before {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

#about{
    margin-top: 30px;
}

#about b{
    font-size: 1.2em;
    color: orangered;
}
#about h1{
    color: #ff4500;
    font-size: 2em;
}
#about p,span,ul {
    margin-top: 20px;
    line-height: 1.4;
    color: #333;
}
#about h2,h3{
    font-size: 1.5em;
    color: orangered;
}
#about ul{
    list-style-type: decimal;
    padding-left: 40px;
}

.login-form{
   width: 280px;
   height: 480px;
   background: #ffffff;
   border-radius: 10px;
   padding: 25px;
}
.login-form h2{
    font-family: sans-serif;
    text-align: center;
    width: 220px;
    color: #ff4500;
    font-size: 22px;
    margin: 2px;
    padding: 8px;
}
.login-form input{
    width: 240px;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid #ff4500;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #000000cc;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.login-form input:focus{
    outline: none;
}
.login-input:hover{
    border-bottom: 2px solid #000000cc;
    transition: 0.4s ease;
}
::placeholder{
    color: #ff4500;
    font-family: Arial;
}
.login-btn{
    width: 240px;
    height: 40px;
    background: #ff4500;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.login-btn:hover{
    background: #ffffff;
    color: #ff4500;
    transform: translateY(-5px);
    font-size: 19px;
}
.login-form:hover{
    transform: translateY(-5px);
    box-shadow: 2px 2px 15px #242322;
    transition: 0.4s ease-in-out;
}

.login-logo{
    display: block;
    justify-self: center;
    padding-top: 10px;

}

#login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff4500;
}
